<header>
  <div id="header" class="header-v2">
    <div class="container">
      <div class="top-bar top_bar_v3 clearfix">
        <div class="nav_top">
          <ul class="block_level1">
            <li *ngIf="!user" class="level1">{{ 'Header.myAcc' | translate }}
              <ul class="block_level2 my_account">
                <li class="login"><a [routerLink]="['/login']">{{ 'Header.login' | translate }}</a></li>
                <li class="register_v2"><a [routerLink]="['/login']">{{ 'Header.register' | translate }}</a></li>
              </ul>
            </li>
            <li *ngIf="user">{{user.fullName}}
              <ul class="block_level2 my_account">
                <li>Thông tin cá nhân</li>
                <li (click)="logout()">Đăng xuất</li>
              </ul>
            </li>
            <li class="level1">{{ 'Language.' + translate.currentLang | translate }}
              <ul class="block_level2 language">
                <li (click)="selectLang('en')">
                  <a [ngClass]="{'line-through':translate.currentLang=='en'}">
                    {{ 'Language.en' | translate }}
                  </a>
                </li>
                <li (click)="selectLang('vi')">
                  <a [ngClass]="{'line-through':translate.currentLang=='vi'}">
                    {{ 'Language.vi' | translate }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="shop_action_v3 clearfix">
        <div class="row">
          <div class="logo_v3 col-md-4 col-md-offset-4 col-sm-7 col-xs-12">
            <a [routerLink]="['/']"><img alt="logo" src="assets/images/header/logo_homepage2.png"></a>
          </div>
          <div class="search_v3 col-md-4 col-sm-5 col-xs-12">
            <div class="input-group input-screen-large">
              <input type="text" class="form-control input_v3">
              <span class="input-group-btn">
                <button class="btn btn-default btn_v3" type="button">{{ 'Header.search' | translate }}</button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="line line_search_v1" data-toggle="modal" data-target=".bs-example-modal-lg">
              <img alt="Search" src="assets/images/header/search.png">
            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"
                 style="display: none;">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <i class="fa fa-times" aria-hidden="true"></i></button>
                  </div>
                  <div class="modal-body">
                    <div class="input-group input-screen-small">
                      <input type="text" class="form-control control-search" placeholder="Search end hit enter">
                      <span class="input-group-btn">
                        <button class="btn btn-default button_search" type="button"></button>
                      </span>
                    </div>
                    <!-- /input-group -->
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
          </div>
        </div>
      </div>
      <div class="navigation_v3 clearfix">
        <div class="row">
          <div class="all_categories col-lg-2 col-md-3 col-sm-6">
            <a [routerLink]="['/']">{{'Header.Home'|translate}}</a>
          </div>
          <div class="all_navigation_v3 navigation col-lg-9 col-md-8">
            <ul>
              <li class="pages action"><a href="">{{'Header.products'|translate}}<span>+</span></a></li>
              <li class="pages"><a [routerLink]="['/admin']">Admin<span>+</span></a></li>
              <!--<li class="pages"><a href="">news<span>+</span></a></li>-->
              <!--<li class="contact_us"><a href="">contact us</a></li>-->
            </ul>
          </div>
          <div class="card_v3 cart col-lg-1 col-md-1 col-sm-6">
            <a href=""><img alt="Cart" class="screen_large" src="assets/images/icon/card_v3.png"/></a><span
            class="badge">3</span>
            <a href=""><img alt="Cart" class="screen_small" src="assets/images/header/cart.png"></a><span class="badge">3</span>
            <div class="shop-item cart-v2">
              <p class="arrow"></p>
              <div class="widget_shopping_cart_content">
                <ul class="engo-w-products-list">
                  <li class="product-block widget-product clearfix">
                    <div class="image pull-left">
                      <div class="product-image">
                        <figure><img src="assets/images/header/pro1_cart.jpg" alt="product"></figure>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="meta">
                        <h3 class="name">
                          <a href="#">Lace Up Trainers</a>
                        </h3>
                        <div class="price">
                          <span class="amount_new">$35</span>
                          <del><span class="amount_old">$65</span></del>
                        </div>
                        <span class="p-qty">QTY: 01</span>
                        <a class="remove" href="#"><i class="fa fa-times-circle"></i></a>
                      </div>
                    </div>
                  </li>
                  <li class="product-block widget-product clearfix">
                    <div class="image pull-left">
                      <div class="product-image">
                        <figure><img src="assets/images/header/pro1_cart.jpg" alt="product"></figure>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="meta">
                        <h3 class="name">
                          <a href="#">Pinch Cheek </a>
                        </h3>
                        <div class="price">
                          <span class="amount_new">$35</span>
                          <del><span class="amount_old">$65</span></del>
                        </div>
                        <span class="p-qty">QTY: 01</span>
                        <a class="remove" href="#"><i class="fa fa-times-circle"></i></a>
                      </div>
                    </div>
                  </li>
                  <li class="product-block widget-product clearfix">
                    <div class="image pull-left">
                      <div class="product-image">
                        <figure><img src="assets/images/header/pro1_cart.jpg" alt="product"></figure>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="meta">
                        <h3 class="name">
                          <a href="#">Pinch Cheek</a>
                        </h3>
                        <div class="price">
                          <span class="amount_new">$35</span>
                          <del><span class="amount_old">$65</span></del>
                        </div>
                        <span class="p-qty">QTY: 01</span>
                        <a class="remove" href="#"><i class="fa fa-times-circle"></i></a>
                      </div>
                    </div>
                  </li>
                </ul>
                <p class="total"><strong class="subtotal">Subtotal:</strong> <span class="amount">$105.00</span></p>
                <p class="buttons clearfix">
                  <a class="button cart-button" href="shopping_cart.html">View Cart</a>
                  <a class="button dark checkout" href="check_out.html">Checkout</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="navigation_mobile_v2 navigation_res">
      <ul class="menu-left nav_res" [hidden]="!menuIsOpen" [ngClass]="{'showing':!menuIsOpen}">
        <li class="level1"><a class="active home" href="">home</a></li>
        <li class="level1 pages"><a class="dropdown" href="">pages</a>
          <ul class="menu-level-1 block-level2">
            <li class="level2"><a href="">HOME PAGES</a>
              <ul class="menu-level-2 block-level3">
                <li><a href="homepage_v1.html">Home 01</a></li>
                <li><a href="homepage_v2.html">Home 02</a></li>
                <li><a href="homepage_v3.html">Home 03</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">SHOP EXAMPLES</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="product_details.html">Product Detail</a></li>
                <li class="lever-02"><a href="shop_grid_full_screen.html">Shop Grid Full Screen</a></li>
                <li class="lever-02"><a href="shop_grid_full_width.html">Shop Grid Full Width</a></li>
                <li class="lever-02"><a href="shop_grid_3_column_fullwidth.html">Shop Grid 3column</a></li>
                <li class="lever-02"><a href="shop_grid_3column_leftsidebar.html">Shop Grid 3column Left Sidebar</a>
                </li>
                <li class="lever-02"><a href="shop_grid_3column_rightsidebar.html">Shop Grid 3column Right Sidebar</a>
                </li>
                <li class="lever-02"><a href="shop_list_left_sidebar.html">Shop List Left Sidebar</a></li>
                <li class="lever-02"><a href="shop_list_right_sidebar.html">Shop List Right Sidebar</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">PAGES</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="about_us.html">About Us</a></li>
                <li class="lever-02"><a href="contact_us.html">Contact Us</a></li>
                <li class="lever-02"><a href="login.html">Login</a></li>
                <li class="lever-02"><a href="page_faq.html">Page Faqs</a></li>
                <li class="lever-02"><a href="404_page.html">Page 404</a></li>
                <li class="lever-02"><a href="track_order.html">Track order</a></li>
                <li class="lever-02"><a href="wishlist.html">Page Wish List</a></li>
                <li class="lever-02"><a href="shopping_cart.html">Shopping Cart</a></li>
                <li class="lever-02"><a href="check_out.html">Check Out</a></li>
                <li class="lever-02"><a href="order_complete.html">Order Complete</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">BLOGS</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="blog.html">Blog Category</a></li>
                <li class="lever-02"><a href="blog_single_standard.html">Blog Single Standard</a></li>
                <li class="lever-02"><a href="blog_single_slideshow.html">Blog Single Slidesshow V1</a></li>
                <li class="lever-02"><a href="blog_single_video.html">Blog Single Video</a></li>
                <li class="lever-02"><a href="blog_single_audio.html">Blog Single Audio</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="level1 sales"><a href="">sale</a>
          <ul class="menu-level-1 block-level2">
            <li class="level2">
              <div class="product blog">
                <div class="product_interactive">
                  <a href=""><img class="img-responsive img-product" alt=""
                                  src="assets/images/products/product1.jpg"></a>
                  <div class="action_nav_res light-style">
                    <div class="img_default_res">
                      <a class="img_cart" href="#">
                        <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png">
                      </a>
                      <a class="img_wishlist" href="#">
                        <img alt="Wishlist" class="wishlist_default" src="assets/images/icon/wishlist.png">
                      </a>
                      <a class="img_quickview" href="#">
                        <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="review">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star star_end" aria-hidden="true"></i>
                  </div>
                  <div class="title_product"><a href="">Bunny wunny - Indygo</a></div>
                  <div class="price"><span class="price_new">$35 </span> <span class="price_old">$65</span></div>
                </div>
              </div>
            </li>
            <li class="level2">
              <div class="product blog">
                <div class="product_interactive">
                  <a href=""><img class="img-responsive img-product" alt=""
                                  src="assets/images/products/product1.jpg"></a>
                  <div class="action_nav_res light-style">
                    <div class="img_default_res">
                      <a class="img_cart" href="#">
                        <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png">
                      </a>
                      <a class="img_wishlist" href="#">
                        <img alt="Wishlist" class="wishlist_default" src="assets/images/icon/wishlist.png">
                      </a>
                      <a class="img_quickview" href="#">
                        <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="review">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star star_end" aria-hidden="true"></i>
                  </div>
                  <div class="title_product"><a href="">Bunny wunny - Indygo</a></div>
                  <div class="price"><span class="price_new">$35 </span> <span class="price_old">$65</span></div>
                </div>
              </div>
            </li>
            <li class="level2">
              <div class="product blog">
                <div class="product_interactive">
                  <a href=""><img class="img-responsive img-product" alt=""
                                  src="assets/images/products/product1.jpg"></a>
                  <div class="action_nav_res light-style">
                    <div class="img_default_res">
                      <a class="img_cart" href="#">
                        <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png">
                      </a>
                      <a class="img_wishlist" href="#">
                        <img alt="Wishlist" class="wishlist_default" src="assets/images/icon/wishlist.png">
                      </a>
                      <a class="img_quickview" href="#">
                        <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="review">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star star_end" aria-hidden="true"></i>
                  </div>
                  <div class="title_product"><a href="">Bunny wunny - Indygo</a></div>
                  <div class="price"><span class="price_new">$35 </span> <span class="price_old">$65</span></div>
                </div>
              </div>
            </li>
            <li class="level2">
              <div class="product blog">
                <div class="product_interactive">
                  <a href=""><img class="img-responsive img-product" alt=""
                                  src="assets/images/products/product1.jpg"></a>
                  <div class="action_nav_res light-style">
                    <div class="img_default_res">
                      <a class="img_cart" href="#">
                        <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png">
                      </a>
                      <a class="img_wishlist" href="#">
                        <img alt="Wishlist" class="wishlist_default" src="assets/images/icon/wishlist.png">
                      </a>
                      <a class="img_quickview" href="#">
                        <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="review">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star star_end" aria-hidden="true"></i>
                  </div>
                  <div class="title_product"><a href="">Bunny wunny - Indygo</a></div>
                  <div class="price"><span class="price_new">$35 </span> <span class="price_old">$65</span></div>
                </div>
              </div>
            </li>
            <li class="level2">
              <div class="product blog">
                <div class="product_interactive">
                  <a href=""><img class="img-responsive img-product" alt=""
                                  src="assets/images/products/product1.jpg"></a>
                  <div class="action_nav_res light-style">
                    <div class="img_default_res">
                      <a class="img_cart" href="#">
                        <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png">
                      </a>
                      <a class="img_wishlist" href="#">
                        <img alt="Wishlist" class="wishlist_default" src="assets/images/icon/wishlist.png">
                      </a>
                      <a class="img_quickview" href="#">
                        <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="review">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star star_end" aria-hidden="true"></i>
                  </div>
                  <div class="title_product"><a href="">Bunny wunny - Indygo</a></div>
                  <div class="price"><span class="price_new">$35 </span> <span class="price_old">$65</span></div>
                </div>
              </div>
            </li>
            <li class="level2">
              <div class="product blog">
                <div class="product_interactive">
                  <a href=""><img class="img-responsive img-product" alt=""
                                  src="assets/images/products/product1.jpg"></a>
                  <div class="action_nav_res light-style">
                    <div class="img_default_res">
                      <a class="img_cart" href="#">
                        <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png">
                      </a>
                      <a class="img_wishlist" href="#">
                        <img alt="Wishlist" class="wishlist_default" src="assets/images/icon/wishlist.png">
                      </a>
                      <a class="img_quickview" href="#">
                        <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="review">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star star_end" aria-hidden="true"></i>
                  </div>
                  <div class="title_product"><a href="">Bunny wunny - Indygo</a></div>
                  <div class="price"><span class="price_new">$35 </span> <span class="price_old">$65</span></div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="level1 news"><a href="">news</a>
          <ul class="menu-level-1 block-level2">
            <li class="level2"><a href="">NEW ARRIVALS</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="homepage_v1.html">Shirts & Tops</a></li>
                <li class="lever-02"><a href="homepage_v2.html">Dresses</a></li>
                <li class="lever-02"><a href="homepage_v3.html">Swimwear</a></li>
                <li class="lever-02"><a href="homepage_v1.html">Suite</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">HOT SALE</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="homepage_v1.html">Jeans</a></li>
                <li class="lever-02"><a href="homepage_v2.html">Dresses</a></li>
                <li class="lever-02"><a href="homepage_v3.html">Sweaters</a></li>
                <li class="lever-02"><a href="homepage_v1.html">Shoes</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">CLOTHING</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="product_details.html">Party Dress</a></li>
                <li class="lever-02"><a href="shop_grid_full_screen.html">T - Shirt</a></li>
                <li class="lever-02"><a href="shop_grid_full_width.html">Jean & Trousers</a></li>
                <li class="lever-02"><a href="shop_grid_full_width.html">Jacket & Coats</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">LOOKBOOK</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="product_details.html">Sweaters</a></li>
                <li class="lever-02"><a href="shop_grid_full_screen.html">Blouses</a></li>
                <li class="lever-02"><a href="shop_grid_full_width.html">Jean & Trousers</a></li>
                <li class="lever-02"><a href="shop_grid_full_width.html">Sports & Lifestyle</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">SHOES & BAGS</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="about_us.html">Leather</a></li>
                <li class="lever-02"><a href="contact_us.html">Sunglasses</a></li>
                <li class="lever-02"><a href="login.html">Belts</a></li>
                <li class="lever-02"><a href="page_faq.html">Ring</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">ACCESSORIES</a>
              <ul class="menu-level-2 block-level3">
                <li class="lever-02"><a href="about_us.html">Sasuawear</a></li>
                <li class="lever-02"><a href="contact_us.html">Sweaters</a></li>
                <li class="lever-02"><a href="login.html">Belts</a></li>
                <li class="lever-02"><a href="page_faq.html">Bags & Persess</a></li>
              </ul>
            </li>
            <li><img alt="" class="img_banner_v3 img-responsive" src="assets/images/banner/banner_v3.jpg"></li>
          </ul>
        </li>
        <li class="level1"><a href="">lookbook</a></li>
        <li class="level1 shop"><a href="">shop</a>
          <ul class="menu-level-1 block-level2">
            <li><img alt="" class="img_banner1" src="assets/images/banner/banner_pages.jpg"></li>
            <li class="level2"><a href="">NEW ARRIVALS</a>
              <ul class="menu-level-2 block-level3">
                <li class="level3"><a href="homepage_v1.html">Shirts & Tops</a></li>
                <li class="level3"><a href="homepage_v2.html">Dresses</a></li>
                <li class="level3"><a href="homepage_v3.html">Swimwear</a></li>
                <li class="level3"><a href="homepage_v1.html">Suite</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">CLOTHING</a>
              <ul class="menu-level-2 block-level3">
                <li class="level3"><a href="product_details.html">Suite</a></li>
                <li class="level3"><a href="shop_grid_full_screen.html">Jeans & Trousers</a></li>
                <li class="level3"><a href="shop_grid_full_width.html">acket & Coats</a></li>
                <li class="level3"><a href="shop_grid_3_column_fullwidth.html">Sweaters</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">ACCESSORIES</a>
              <ul class="menu-level-2 block-level3">
                <li class="level3"><a href="about_us.html">Leather</a></li>
                <li class="level3"><a href="contact_us.html">Sunglasses</a></li>
                <li class="level3"><a href="login.html">Belts</a></li>
                <li class="level3"><a href="page_faq.html">Bags & Persess</a></li>
              </ul>
            </li>
            <li class="level2"><a href="">LOOKBOOK</a>
              <ul class="menu-level-2 block-level3">
                <li class="level3"><a href="blog.html">Blog Category</a></li>
                <li class="level3"><a href="blog_single_standard.html">Blog Single Standard</a></li>
                <li class="level3"><a href="blog_single_slideshow.html">Blog Single Slidesshow V1</a></li>
                <li class="level3"><a href="blog_single_video.html">Blog Single Video</a></li>
                <li class="level3"><a href="blog_single_audio.html">Blog Single Audio</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <div class="handle handle_v2" (click)="toggleMenu()">
        <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</header>
