.signin .input-submit {
  cursor: pointer;
}

.signin .input-field input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
  transition: 1s;
}

.signin .input-field input.ng-valid.ng-touched {
  border-left: 5px solid #42A948;
  transition: 1s;
}
