<section>
  <div class="breadcrumbs breadcrumb_2blog breadcrumb_04 breadcrumbs-center" style="margin-top: 25px">
    <div class="container">
      <h2>{{'Login.lr'|translate}}</h2>
      <ul class="list-unstyled breadcrumb-links">
        <li class="home_fashion active"><a [routerLink]="['/']">{{'Header.Home'|translate}}</a></li>
        <li class="active boy_fashion">{{'Login.lr'|translate}}</li>
      </ul>
    </div>
  </div>
  <div id="main-container" class="container">
    <div class="row">
      <!--<div class="col-lg-12">-->
      <!--<div class="signin">-->
      <!--<h2 class="heading-title">{{'Header.login'|translate}}</h2>-->
      <!--<p>{{'Login.welcome'|translate}}</p>-->
      <!--<form action="#">-->
      <!--<div class="input-field">-->
      <!--<label for="email">Email Address <span class="star">*</span></label>-->
      <!--<input id="email" class="input-text" type="email" name="email" placeholder="Your email" required="">-->
      <!--</div>-->
      <!--<div class="input-field">-->
      <!--<label for="pass">Password <span class="star">*</span></label>-->
      <!--<input id="pass" class="input-text" type="password" name="pass" placeholder="Password" required="">-->
      <!--</div>-->
      <!--<div class="input-field">-->
      <!--<div class="input-submit"><a href="#"><span style="font-size: 15px">Login now</span></a></div>-->
      <!--</div>-->
      <!--</form>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-md-12">
        <div class="signin">
          <div *ngIf="!isLogin;else register">
            <h2 class="heading-title">{{'Header.login'|translate}}</h2>
            <p>{{'Login.welcome'|translate}}</p>
          </div>
          <ng-template #register>
            <h2 class="heading-title">{{'Header.register'|translate}}</h2>
            <p>{{'Login.registerWel'|translate}}</p>
          </ng-template>
          <form action="#" [formGroup]="myForm">
            <div class="input-field">
              <label for="email">Email Address <span class="star">*</span></label>
              <input class="input-text" type="text" id="email" formControlName="email">
            </div>

            <div class="input-field">
              <label for="password">Password <span class="star">*</span></label>
              <input class="input-text" type="text" id="password" formControlName="password">
            </div>


            <div class="input-field">
              <div class="input-submit">
                <a (click)="login()" style="margin: 10px"><span style="font-size: 15px">Login</span></a>
                <a (click)="Register()"><span style="font-size: 15px">Register</span></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
