<footer id="footer" class="footer_v2 footer_v3">
  <div class="container">
    <div class="information-diferent">
      <div class='row'>
        <div class='about_us about_us_v3 col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix'>
          <h1>About Us</h1>
          <ul>
            <li class="place"><a href=""><span class="img_place"><img alt="icon place"
                                                                      src="assets/images/footer/place.png"/></span><span
              class="text_place">Địa chỉ của tôi</span></a></li>
            <li><a href=""><span class="img_place"><img alt="phone"
                                                        src="assets/images/footer/phone_v3.png"/></span><span
              class="text_place">01649705451</span></a></li>
            <li><a href=""><span class="img_place"><img alt="email" src="assets/images/footer/email.png"/></span><span
              class="text_place">friendd1996@gmail.com</span></a></li>
          </ul>
          <ul class="connect_about_us">
            <li>
              <a href=""><img alt="Twitter" src="assets/images/icon/birt1_v3.png"/></a>
            </li>
            <li>
              <a href=""><img alt="Facebook" src="assets/images/icon/face2_v3.png"/></a>
            </li>
            <li>
              <a href=""><img alt="Youtube" src="assets/images/icon/youtube2_v3.png"/></a>
            </li>
            <li>
              <a href=""><img alt="Behance" src="assets/images/icon/be2_v3.png"/></a>
            </li>
            <li>
              <a href=""><img alt="Dribbble" src="assets/images/icon/gg_v3.png"/></a>
            </li>
          </ul>
        </div>
        <div class='about_us about_us2_v3 col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix'>
          <h1>Our Infomation</h1>
          <ul>
            <li><a href="">Return Policy</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Site Map</a></li>
            <li><a href="">Store Hours</a></li>
          </ul>
        </div>
        <div class='about_us col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix'>
          <h1>My Account</h1>
          <ul>
            <li><a href="">Order Status</a></li>
            <li><a href="">Shipping & Delivery</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Payment Options</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
        <div class='about_us clearfix our_instogram col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix'>
          <h1>Our Instagram</h1>
          <div class='img_info_client'>
            <a href=''><img alt="avatar client" src='assets/images/footer/client1.jpg'/></a>
            <a href=''><img alt="avatar client" src='assets/images/footer/client1.jpg'/></a>
            <a href=''><img alt="avatar client" class="img_end" src='assets/images/footer/client1.jpg'/></a>
          </div>
          <div class='img_info_client'>
            <a href=''><img alt="avatar client" src='assets/images/footer/client1.jpg'/></a>
            <a href=''><img alt="avatar client" src='assets/images/footer/client1.jpg'/></a>
            <a href=''><img alt="avatar client" class="img_end" src='assets/images/footer/client1.jpg'/></a>
          </div>
          <a href=''><u>View more</u></a>
        </div>
      </div>
    </div>
    <div class="pay_cart">
      <div class='row'>
        <div class='source col-lg-6 col-md-6 col-sm-12 col-xs-12'>
          Copyright @ 2017.
        </div>
        <div class='cart col-lg-6 col-md-6 col-sm-12 col-xs-12'></div>
      </div>
    </div>
  </div>
</footer>
