<div class="product">
  <div class="product_interactive">
    <div *ngIf="type=='sale'" class="product_fashion"><img alt="Product sale" src="assets/images/products/sale.png">
    </div>
    <div *ngIf="type=='hot'" class="product_fashion"><img alt="Product hot" src="assets/images/products/hot.png">
    </div>
    <a href=""><img alt="" [ngStyle]="img" src="assets/images/products/product1.jpg" class="img_product img-responsive"></a>
    <div class="action light-style">
      <div class="img_default">
        <a class="img_cart" href="#" data-toggle="tooltip" title="Add To Cart"
           data-original-title="Add To Cart">
          <img alt="Cart" class="cart_default" src="assets/images/icon/cart.png"/>
          <img alt="Cart" class="cart_hover" src="assets/images/icon/cart_hover.png"/>
        </a>
        <a class="img_quickview" href="#" data-toggle="tooltip" title="Quickview"
           data-original-title="Quickview">
          <img alt="Quickview" class="quickview_default img_end" src="assets/images/icon/quickview.png"/>
          <img alt="Quickview" class="quickview_hover img_end"
               src="assets/images/icon/quickview_hover.png"/>
        </a>
      </div>
    </div>
  </div>
  <div class="countdown" *ngIf="dateSale">
    <div class="countdown-times row">
      <div class="hours distance col-sm-4">
        <div class="number"><b>{{hours}}</b></div>
        <div class="text">
          <div class="text">HOURS</div>
        </div>
      </div>
      <div class="minutes distance col-sm-4">
        <div class="number"><b>{{mins}}</b></div>
        <div class="text"> MINS</div>
      </div>
      <div class="seconds distance col-sm-4">
        <div class="number"><b>{{secs}}</b></div>
        <div class="text">SECS</div>
      </div>
    </div>
  </div>
  <div class="caption">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star star_end" aria-hidden="true"></i>
    <div class="title_product"><a href="">{{product.name}}</a></div>
    <div class="price"><span class="price_new">{{product.price}}đ</span></div>
  </div>
</div>
