<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Products</h4>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li class="active">
        Products
      </li>
    </ol>
  </div>
</div>

<!-- SECTION FILTER
================================================== -->
<div class="row m-t-10 m-b-10">

  <div class="col-sm-6">
    <form role="form">
      <div class="form-group contact-search m-b-0">
        <input type="text" id="search" [(ngModel)]="textSearch" [ngModelOptions]="{standalone: true}"
               class="form-control product-search"
               placeholder="Search here...">
        <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
      </div> <!-- form-group -->
    </form>
  </div>

  <div class="col-sm-6">
    <div class="h5 m-0 text-right">
      <label class="vertical-middle m-r-10">Sort By:</label>
      <div class="btn-group vertical-middle" data-toggle="buttons">
        <label class="btn btn-default btn-md waves-effect active">
          <input type="radio" autocomplete="off" checked=""> Status
        </label>
        <label class="btn btn-default btn-md waves-effect">
          <input type="radio" autocomplete="off"> Type
        </label>
        <label class="btn btn-default btn-md waves-effect">
          <input type="radio" autocomplete="off"> Name
        </label>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="m-b-15">
    <div class="col-sm-6 col-lg-3 col-md-4" *ngFor="let pro of products | async">
      <div class="product-list-box thumb">
        <a href="javascript:void(0);" class="image-popup" title="Screenshot-1">
          <img *ngIf="pro.img.length;else notImg" [src]="pro.img[0].url" class="thumb-img" alt="work-thumbnail">
          <ng-template #notImg>
            <img src="" alt="work-thumbnail">
          </ng-template>
        </a>

        <div class="product-action">
          <a href="#" class="btn btn-success btn-sm"><i class="md md-mode-edit"></i></a>
          <a href="#" class="btn btn-danger btn-sm"><i class="md md-close"></i></a>
        </div>

        <div class="price-tag">
          {{pro.price}}
        </div>
        <div class="detail">
          <h4 class="m-t-0"><a href="" class="text-dark">{{pro.name}}</a></h4>
          <div class="rating">
            <ul class="list-inline">
              <li><a class="fa fa-star"></a></li>
              <li><a class="fa fa-star"></a></li>
              <li><a class="fa fa-star"></a></li>
              <li><a class="fa fa-star"></a></li>
              <li><a class="fa fa-star-o"></a></li>
            </ul>
          </div>
          <h5 class="m-0"><span class="text-muted"> Stock :98pcs.</span></h5>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End row -->
